* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3242;
}

canvas {
    background-color: black;
    display: block;
}


@media only screen and (max-width: 1080px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 720px) {
    canvas {
        height: 100vh;
    }   
}