* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

button {
    background-color: none;

}

h1 {
    font-size: 56px;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    background-image: url(../assets/imgs/background.png);
    background-position: center;
    background-size: cover;
}

canvas {
    background-color: black;
    display: block;
}


@media only screen and (max-width: 1080px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 720px) {
    canvas {
        height: 100vh;
    }   
}